<ion-list>
  <ion-item *ngFor="let video of videos; trackBy:videoTrackBy;">
    <!-- [href]="video.videoUrl"> -->
    <ion-thumbnail slot="start">
      <ion-img [src]="video.thumbnail"></ion-img>
    </ion-thumbnail>
    <ion-label>
      <ion-text color="primary" class="ion-text-wrap">
        <h3>{{ video.title }}</h3>
      </ion-text>
      <p>{{ video.channelTitle }}</p>
      <ion-text color="secondary" class="ion-text-wrap">
        <p>{{ video.description }}</p>
      </ion-text>
      <ion-button (click)="emitDownload(video.videoId)"
        [disabled]="video.status === 'being-downloaded' || video.status === 'downloaded'">
        <ion-icon name="arrow-down-outline" slot="end"></ion-icon>
        {{ video.status }}
        <div [ngSwitch]="video.status">
          <div *ngSwitchCase="'being-downloaded'">
            Downloading
          </div>
          <div *ngSwitchCase="'downloaded'">
            Downloaded
          </div>
          <div *ngSwitchDefault>
            Download
          </div>
        </div>
      </ion-button>
    </ion-label>
  </ion-item>
</ion-list>

<ion-infinite-scroll threshold="100px" (ionInfinite)="emitLoadMore($event)">
  <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more videos...">
  </ion-infinite-scroll-content>
</ion-infinite-scroll>