<ion-list>
  <ion-item *ngFor="let video of videos; trackBy:videoTrackBy;">
    <ion-thumbnail slot="start">
      <ion-img [src]="video.thumbnail"></ion-img>
    </ion-thumbnail>
    <ion-label>
      <ion-text color="primary" class="ion-text-wrap">
        <h3>{{ video.title }}</h3>
      </ion-text>
      <p>{{ video.channelTitle }}</p>
      <ion-text color="secondary" class="ion-text-wrap">
        <p>{{ video.description }}</p>
      </ion-text>

      <ion-button (click)="emitOnDownload(video.videoId)"
        [disabled]="video.status === 'being-downloaded' || video.status === 'downloaded'" size="small" expand="full" shape="round"  color="dark">
        <ion-icon name="cloud-download-outline" slot="end" *ngIf="video.status === 'not-downloaded'"></ion-icon>
        <ion-icon name="cloud-done-outline" slot="end" *ngIf="video.status === 'downloaded'"></ion-icon>
        <ion-spinner name="lines-small" slot="end" *ngIf="video.status === 'being-downloaded'"></ion-spinner>
      </ion-button>
    </ion-label>
  </ion-item>
</ion-list>

<ion-infinite-scroll threshold="100px" (ionInfinite)="emitOnLoadMore($event)">
  <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more videos...">
  </ion-infinite-scroll-content>
</ion-infinite-scroll>